<div class="container-fluid">
  <form (ngSubmit)='submitUser()' #userForm='ngForm'>
    <div class="form-group">
      <!-- Enter the Username to search for any GitHub User details -->
      <label for="login">Username</label>
      <input type="text" class="form-control" id="login" [(ngModel)]="newUser.login" name="login" #login="ngModel" required>

      <div [hidden]="login.valid||login.pristine" class="alert alert-danger">
        <p>The Username is Required</p>
      </div>
    </div>
    <button type="submit" class="btn btn-success btn-lg">Search</button>
  </form>

</div>
