<!-- <ng-progress></ng-progress> -->
<!-- <h1>GitHub Users</h1> -->

<!-- <div class="container"> -->

    <!-- <div class="row"> -->
        <!-- <blockquote class="text-center text-lg"> -->
            <!-- <p>{{user.name}}</p> -->
            <!-- <footer><cite>{{repository.description}}</cite></footer> -->
        <!-- </blockquote>
    </div>

</div> -->
<!-- <div class="container">
  <div class="row">
      <app-form (addUser)="addNewUser($event)"></app-form>
  </div>
</div>
<div class="container"> -->


  <!-- <div class="row" *ngFor="let user of users;let i = 'index'"> -->

    <!-- <h4 id="{{i}}" appStrikethrough>{{user.name}}</h4> -->
    <!-- <button class="btn btn-primary" (click)=goToUrl(login)>View Details</button> -->
    <!-- <button class="btn btn-danger" (click) = 'deleteUser(i)'> Delete User </button> -->
  <!-- </div> -->
  <!-- <blockquote class="text-center text-lg"> -->
      <!-- <p>{{user.login}}</p> -->
      <!-- <footer><cite>{{user.public_repos}}</cite></footer> -->
  <!-- </blockquote> -->
  <!-- <app-user-details></app-user-details> -->
<div class="container">
  <h1>GitHub Users Finder</h1><hr>
  <div *ngIf="profile">
    <div class="row">
      <h3>{{profile.name}}</h3>
      Username:<h3>{{profile.login}}</h3>
      <img src="{{profile.avatar_url}}" alt="Profile Image">
    </div>

    <div class="row">
      <h6>{{profile.public_repos}} Public Repositories</h6>
      <h5 *ngIf="profile.company">Works at {{profile.company}}</h5>

    </div>
  </div>
</div>
<!-- <p *ngIf='users.length > 5'>You have too many users</p> -->
