<div class="container-fluid">
  <form (ngSubmit)='findUser()' #userForm='ngForm'>
    <div class="form-group">
      <!-- Enter the Username to search for any GitHub User details -->
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" [(ngModel)]="usernameText" name="username" #username="ngModel" required>

      <div [hidden]="username.valid||username.pristine" class="alert alert-danger">
        <p>The Username is Required</p>
      </div>
      <button type="submit" class="btn btn-success btn-lg" (click)="findUser()">Search</button>
    </div>
  </form>

</div>
